<!-- Footer-->
<footer class="footer bg-black small text-center text-white-50">

    <div class="container px-4 px-lg-5">{{ .Site.Params.nameCNPJ }}</div>
    <div class="container px-4 px-lg-5">{{ print "CNPJ: " .Site.Params.CNPJ }}</div><br>
    <div class="container px-4 px-lg-5">{{ print "PIX (CNPJ): " .Site.Params.pixCNPJ }}</div><br>
    <div class="container px-4 px-lg-5">{{ .Site.Params.businessAddres }}</div>
    <div class="container px-4 px-lg-5">{{ .Site.Params.businessAddres2 }}</div><br>
    <div class="container px-4 px-lg-5">{{ print "Inscrição Estadual: " .Site.Params.IE }}</div>
    <div class="container px-4 px-lg-5">{{ print "Inscrição Municipal: " .Site.Params.IM }}</div>


</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script> -->
<!-- WhatsApp floating button -->
<a href="{{ site.Params.whatsapp}}" class="floating" target="_blank"><i class="fab fa-whatsapp"></i></a>
